.links-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 446px;
  height: 537px;
  margin: 0 auto;
  padding: 20px 24px 24px;
  gap: 20px;
  text-align: center;
  background-color: #d5e5f1;
  border: #85b8b77a;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
